workflows/Multi-Blog Publisher.json
{
  "name": "Multi-Blog Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-20 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        160,
        300
      ],
      "id": "sched-001"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "manual-001"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst day = now.getDay();\nif (day === 0 || day === 6) return [];\nreturn [{ json: { hour: now.getHours(), day } }];"
      },
      "name": "Schedule Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ],
      "id": "sched-check-001"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:8000/api/blogs",
        "options": {}
      },
      "name": "Fetch All Blogs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        300
      ],
      "id": "fetch-blogs-001"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst hour = now.getHours();\n\n// Если запуск ручной — берём все блоги без фильтрации\nconst isManual = $execution.mode === 'manual';\nif (isManual) {\n  return items.map(item => ({ json: item.json }));\n}\n\nfunction hash(str) {\n  let h = 0;\n  for (let i = 0; i < str.length; i++) {\n    h = ((h << 5) - h) + str.charCodeAt(i);\n    h |= 0;\n  }\n  return Math.abs(h);\n}\n\nconst dateKey = `${now.getFullYear()}-${now.getMonth()}-${now.getDate()}`;\nconst windows = [[9,10,11],[12,13,14,15],[17,18,19,20]];\n\nconst filtered = items.filter(item => {\n  const blog = item.json;\n  const h = hash(`${dateKey}-${blog.id}`);\n  const window = windows[h % 3];\n  const publishHour = window[Math.floor(h / 3) % window.length];\n  return hour === publishHour;\n});\n\nif (filtered.length === 0) return [];\nreturn filtered.map(item => ({ json: item.json }));"
      },
      "name": "Filter Blogs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ],
      "id": "filter-blogs-001"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(i => ({ json: i.json }));"
      },
      "name": "Split Blogs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ],
      "id": "split-001"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Over Blogs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1260,
        300
      ],
      "id": "loop-001"
    },
    {
      "parameters": {
        "jsCode": "const blog = $json;\n\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://172.17.0.1:8000/api/ai/generate-post',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ blog_id: blog.id, prompt: '' }),\n  ignoreHttpStatusErrors: true\n});\n\nconst post = typeof result === 'string' ? JSON.parse(result) : result;\nif (!post.title || !post.content) {\n  throw new Error('Bad post response: ' + JSON.stringify(post).slice(0, 200));\n}\n\nreturn [{ json: { blog, ...post } }];",
        "retryOnFail": true,
        "waitBetweenTries": 3000
      },
      "name": "Generate Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        160
      ],
      "id": "gen-post-001",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\n// Делим контент на абзацы\nconst paragraphs = d.content.split(/\\n\\n+/).filter(p => p.trim().length > 50);\nconst total = paragraphs.length;\n\n// Выбираем 2-3 позиции: примерно после 1/3 и 2/3 текста\nconst positions = [];\nif (total >= 4) {\n  positions.push(Math.floor(total * 0.33));\n  positions.push(Math.floor(total * 0.66));\n  if (total >= 7) positions.push(Math.floor(total * 0.85));\n}\n\n// Для каждой позиции — берём абзац и генерируем поисковый запрос\n// Используем сам текст абзаца как контекст\nconst spots = positions.map((paraIdx, i) => {\n  const context = paragraphs[paraIdx] || '';\n  // Берём первые 150 символов абзаца как основу для запроса\n  const snippet = context.slice(0, 150).replace(/[^а-яёa-z0-9\\s]/gi, ' ').trim();\n  // Добавляем нишу для релевантности\n  const query = `${d.blog.niche} ${snippet}`.slice(0, 100);\n  return { paraIdx, query };\n});\n\nreturn [{ json: { ...d, spots, paragraphs } }];"
      },
      "name": "Find Photo Spots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        160
      ],
      "id": "find-spots-001"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst spots = d.spots || [];\nconst paragraphs = d.paragraphs || d.content.split(/\\n\\n+/);\n\n// Для каждого спота ищем фото\nconst photosMap = {};\n\nfor (const spot of spots) {\n  const query = encodeURIComponent(spot.query);\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.unsplash.com/photos/random?query=${query}&orientation=landscape&content_filter=high`,\n      headers: { 'Authorization': `Client-ID ${$env.UNSPLASH_ACCESS_KEY}` },\n      ignoreHttpStatusErrors: true\n    });\n    if (resp && resp.urls) {\n      photosMap[spot.paraIdx] = {\n        url:        resp.urls.regular,\n        author:     resp.user?.name || '',\n        authorUrl:  resp.user?.links?.html || '',\n      };\n    }\n  } catch(e) {\n    console.log('Unsplash error for spot', spot.paraIdx, e.message);\n  }\n  // Небольшая пауза чтобы не спамить API\n  await new Promise(r => setTimeout(r, 300));\n}\n\n// Вставляем фото в нужные места контента\n// Формат: специальный маркер [[PHOTO:url|author|authorUrl]] между абзацами\nconst result = [];\nfor (let i = 0; i < paragraphs.length; i++) {\n  result.push(paragraphs[i]);\n  if (photosMap[i]) {\n    const p = photosMap[i];\n    result.push(`[[PHOTO:${p.url}|${p.author}|${p.authorUrl}]]`);\n  }\n}\n\nconst contentWithPhotos = result.join('\\n\\n');\n\nreturn [{ json: {\n  blog:            d.blog,\n  title:           d.title,\n  content:         d.content,           // оригинал для Telegram\n  contentWithPhotos,                    // с фото для сайта\n  category:        d.category,\n  excerpt:         d.excerpt,\n  photoCount:      Object.keys(photosMap).length,\n} }];"
      },
      "name": "Fetch Photos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ],
      "id": "fetch-photos-001"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\n// Сохраняем пост с фото-маркерами (main.py распарсит их при рендере)\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `http://172.17.0.1:8000/api/blogs/${d.blog.id}/posts`,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    title:    d.title,\n    content:  d.contentWithPhotos,\n    category: d.category || d.blog.niche,\n    excerpt:  d.excerpt  || '',\n  }),\n  ignoreHttpStatusErrors: true\n});\n\n// Telegram — оригинальный контент без фото, с разбивкой\nif (d.blog.telegram_channel) {\n  const MAX = 4000;\n  function splitText(text, maxLen) {\n    const parts = [];\n    const paragraphs = text.split(/\\n\\n+/);\n    let current = '';\n    for (const para of paragraphs) {\n      const candidate = current ? current + '\\n\\n' + para : para;\n      if (candidate.length <= maxLen) {\n        current = candidate;\n      } else {\n        if (current) parts.push(current.trim());\n        if (para.length > maxLen) {\n          const sentences = para.match(/[^.!?]+[.!?]+/g) || [para];\n          let chunk = '';\n          for (const s of sentences) {\n            if ((chunk + s).length <= maxLen) { chunk += s; }\n            else { if (chunk) parts.push(chunk.trim()); chunk = s; }\n          }\n          if (chunk) current = chunk.trim();\n        } else { current = para; }\n      }\n    }\n    if (current) parts.push(current.trim());\n    return parts;\n  }\n\n  const parts = splitText(d.content, MAX);\n  const total = parts.length;\n  for (let i = 0; i < total; i++) {\n    const suffix = total > 1 ? `\\n\\n— ${i+1}/${total}` : '';\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${$env.TELEGRAM_BOT_TOKEN}/sendMessage`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: d.blog.telegram_channel, text: parts[i] + suffix }),\n      ignoreHttpStatusErrors: true\n    });\n    if (i < total - 1) await new Promise(r => setTimeout(r, 500));\n  }\n}\n\nreturn [{ json: { status: 'published', blog: d.blog.id, title: d.title } }];"
      },
      "name": "Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        160
      ],
      "id": "publish-001"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json }];"
      },
      "name": "Next Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        160
      ],
      "id": "next-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $execution.mode }}",
              "value2": "manual",
              "operation": "equals"
            }
          ]
        }
      },
      "name": "Is Manual?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        160
      ],
      "id": "is-manual-001"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Schedule Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Is Manual?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Check": {
      "main": [
        [
          {
            "node": "Fetch All Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Blogs": {
      "main": [
        [
          {
            "node": "Filter Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Blogs": {
      "main": [
        [
          {
            "node": "Split Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Blogs": {
      "main": [
        [
          {
            "node": "Loop Over Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Blogs": {
      "main": [
        [],
        [
          {
            "node": "Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post": {
      "main": [
        [
          {
            "node": "Find Photo Spots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Photo Spots": {
      "main": [
        [
          {
            "node": "Fetch Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Photos": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Next Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Blog": {
      "main": [
        [
          {
            "node": "Loop Over Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Manual?": {
      "main": [
        [
          {
            "node": "Fetch All Blogs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f6108bd7-e0a2-437b-a50b-602398c93b32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7841e880b4643b1e60e3bebe2ab485bb33c78bba18349bc6f64c1bd5f9619cf"
  },
  "id": "InMqX6QrjeQG29hS",
  "tags": []
}